.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
**/buildcache.json
contributing.md
**/junit.xml
server/coverage
.travis.yml
kerboscripts
node_modules
clients/vscode/node_modules/**
clients/atom/**
server/node_modules/**