.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
**/buildcache.json
contributing.md
**/junit.xml
server/coverage
.travis.yml
kerboscripts
node_modules
clients/vscode/node_modules/**
clients/atom/**
!clients/vscode/node_modules/vscode-jsonrpc/**
!clients/vscode/node_modules/vscode-languageclient/**
!clients/vscode/node_modules/vscode-languageserver-protocol/**
!clients/vscode/node_modules/vscode-languageserver-types/**
!clients/vscode/node_modules/ws/**
!clients/vscode/node_modules/semver/**
!clients/vscode/node_modules/async-limiter/**